<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Formulário Colecionador</title>
</head>

<body>
	<div class="feedback-form">
		<h1 class="header" style="color:#006400">TROQUINHAS</h1>
		<div>
			<form action="#" th:action="@{/usuario/addUsuario}" th:object="${colecionador}" method="post">
			    <input type="text" th:field="*{nome}" placeholder="Insira seu nome" required/>
			    <input type="text" th:field="*{sobrenome}" placeholder="Insira seu sobrenome" />
			    <input type="email" th:field="*{email}" placeholder="Insira seu email" required/>
			    <input type="password" th:field="*{senha}" placeholder="Insira sua senha" required/>
			    <button type="submit" class="confirma-btn">Registrar</button>
			    <a href="/usuario/listaUsuarios" class="comment-link" style="font-weight:lighter">Ver lista de colecionadores</a>
			</form>
	</div>
	</div>
</body>
</html>