<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Pontos de Trocas</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="content">
    <h2>Tabela PontoTrocas</h2>
    <table class="table">
        <thead>
        <tr>
            <th th:text="Id"></th>
            <th th:text="Nome"></th>
            <th>Deletar</th>
            <th>Atualizar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pontoTroca: ${listaPontoTrocas}">
            <td th:text="${pontoTroca.id}"></td>
            <td th:text="${pontoTroca.nome}"></td>
            <td><a th:href="@{/pontotroca/removePontoTroca/{id}(id=${pontoTroca.id})}">Deletar</a></td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <a href="/">Menu</a><br>
    <a href="/pontotroca/showForm">Adicionar novo Ponto de Troca</a>
</div>
</body>
</html>