* {
  font-family: Helvetica, sans-serif;
}

a {
	color: #0d7503;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #72ce27;
	cursor: pointer;
	text-decoration: none;
}

.delete-link:hover {
	color: #c32f27;
}

.feedback-form {
  width: 280px;
  margin: 100px auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #70e000;
  font-family: Helvetica, sans-serif;
  border-radius: 10%;
}

.feedback-form * {
    box-sizing: border-box;
}

.feedback-form h2{
  text-align: center;
  margin-bottom: 30px;
}

.feedback-form input {
  margin-bottom: 15px;
}

.feedback-form input {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

.comment-link {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  font-family: sans-serif;
  font-size: 12px;
  color: #72ce27;
  text-decoration: none;
}

.feedback-form label {
  color: #777;
  font-size: 0.8em;
}

.feedback-form input[type=checkbox] {
  float: left;
}

.feedback-form input:not(:checked) + #feedback-phone {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.feedback-form .feedback-phone {
  transition: .3s;
}

.confirma-btn {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  
  background: #0d7503; /* Old browsers */
  background: -moz-linear-gradient(left, #ffdf00 0%, #0d7503 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffdf00 0%, #0d7503 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffdf00 0%, #0d7503 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}

.confirma-btn:hover {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  
  background: #0d7503; /* Old browsers */
  background: -moz-linear-gradient(left, #fff700 0%, #72ce27 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fff700 0%, #72ce27 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fff700 0%, #72ce27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}